@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/PTSans-Bold.ttf);
}

/* глобальные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: #dbe9ff;

    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #B3B3B4;

}

.wrapper {
    padding: 2% 10%;
}

.grid {
    display: grid;
}

.section-title {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ED6A5A;
}

img {
    width: 100%;
}

.button {
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #5a8efd;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}

.button:hover {
    color: #5a8efd;
    background-color: #FFFFFF;

}

/* menu */
.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    height: 40px;
    margin-right: 15px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
}

.logo-text {
    font-weight: bold;
    font-size: 28px;
    color: #FFA46E;
}

.menu__item {
    margin-right: 20px;
}

.menu__item:last-child {
    margin-right: 0;

}

.menu__list {
    display: flex;


}

@media (max-width:1254px) {
    .header__conteiner {
        flex-direction: column;
    }

    .menu {
        margin: 20px 0;
    }
   
}
@media (max-width:860px) {
    .menu__item {
        margin-right: 15px;
    }
    .wrapper {
        padding: 2% 5%;
      }

}
@media (max-width:768px) {
    .header__conteiner {
        flex-direction: row;
        align-items: center;
    }
 .header__button-btn {
       flex: 0 0 150px; 
    }
    .header__button {
        flex: 0 0 30px; 
     }
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0.1s;
        /*настроить скорость появления меню под себя*/
    }

    .header:target .menu__body {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__item {
        margin: 0 0 25px 0;
    }


    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
    } 


    .icon-menu::after, .icon-menu::before {
        content: "";
        background-color: #000;
        height: 2px;

    }


    .icon-menu span {
        background-color: #000;
        height: 2px;
    }

    .close-icon-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
    }
    .close-icon-menu::after, .close-icon-menu::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: #000;
        height: 2px;
    }

    .close-icon-menu::before {
        transform: rotate(45deg);
    }

    .close-icon-menu::after {
        transform: rotate(-45deg);
    }

    .header:target .icon-menu {
        display: none;
    }

    .header:target .close-icon-menu {
        display: flex;
    }

}
@media (min-width:320px)and (max-width:480px) {
    .logo-text{
        display: none;
    }
}



/* info  */
/* about  */
/* service */
/* receive  */
/* form   */
/* tarif  */
/* consultation  */
/* footer  */